# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VStudio stuff
Browse.VC.db
ipch
.vs/
Debug/
out/

# VS Code
.vscode/

#pyCharm
.idea/
__pycache__/

# MikroIDE
*.dbg
*.dct
